In [5]:
import pandas as pd
data=pd.read_excel("C:/Users/sumit/Downloads/practice.xlsx")
#print(data)
data["Bonus"]=(data["Salary"]/100)*20
print(data)

  First name  Last name  Salary EEID    Bonus
0       Ross  Tribbiani   20000   E1   4000.0
1     Rachel       bing   40000   E2   8000.0
2     Monika      green   25000   E3   5000.0
3       joey     geller   60000   E4  12000.0
4   Chandler     buffay   33000   E5   6600.0
5     Phoebe       bing   45000   E6   9000.0

In [9]:
data={"Months":["january","february","march","april"]}
a=pd.DataFrame(data)

def extract(value):
    return value[0:3]

a["short_months"]=a["Months"].map(extract).str.capitalize()
print(a)

     Months short_months
0   january          Jan
1  february          Feb
2     march          Mar
3     april          Apr