In [1]:
import pandas as pd

data={"Name":["jon","peter","lise"],
      "Age":[25,28,31],
      "Salary":[300000,45000,25000]}

df=pd.DataFrame(data)
print(df)

    Name  Age  Salary
0    jon   25  300000
1  peter   28   45000
2   lise   31   25000